doctype html
html
  head
    title URL Shortener Microservice
    link(href='css/main.css', rel='stylesheet')
  body
    h1 URL Shortener Microservice
    h3 Example Input
    code https://glacial-eyrie-47999.herokuapp.com/url/https://www.google.com
    h3 Example Output
    code {longUrl: "http://www.google.com", smallUrl: "1234"}
    h3 Usage
    code https://glacial-eyrie-47999.herokuapp.com/1234
    h3 Redirects to
    code https://www.google.com
