doctype html
html
  head
    title URL Shortener Microservice
    link(href='css/main.css', rel='stylesheet')
  body
    h1 URL Shortener Microservice
    h3 Example Input
    code https://little-url.herokuapp.com/new/https://www.google.com
    h3 Example Output
    code
    h3 Usage
    code
    h3 Redirects to
    code
