doctype html
html
  head
    title URL Shortener Microservice
    link(href='css/main.css', rel='stylesheet')
  body
    h1 URL Shortener Microservice
    form(method="post" action="/url")
      input(placeholder="Enter URL" name="long")
      input(type="submit" value="Submit")
